@page "/mapa-prueba"
@using MudBlazor
@inject HttpClient Http
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject ProtectedSessionStorage SessionStorage
@inject IHttpContextAccessor HttpContextAccessor
@inject SessionService sessions
@inject IJSRuntime JS
@using SistemaLicencias.SHARED.DTOs
@using SISFRONT.Components.Utilities
@using SISFRONT.Components.Dialogs


<h1>MAPA - PRUUEBA</h1>

@{
}